flask==2.3.3
werkzeug==2.3.7
langchain
langchain-core
langchain-chroma
pydantic-settings
langchain-openai
openai
python-dotenv
boto3==1.28.0
chromadb
pypdf
tiktoken
unstructured
litellm
langchain-litellm